* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #110D03;
    color: #FFFAFF;
    padding: 1rem;
}

.logo {
    margin-left: 2rem;
}

.nav-menu {
    display: flex;
    list-style-type: none;
    gap: 2rem;
    padding: 1.5rem;
}

.nav-link {
    text-decoration: none;
    color: #FFFAFF;
}

.nav-link:hover {
    color:#30BCED;
}

.items-container {
    min-height: 100vh;
    display: grid;
    place-items: center;
    font-size: 5rem;
    background-color: #303036;
    color: #FFFAFF;
}

.carrito {
    font-size: 2rem;
}
